<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>EJS TEMPLATING DEMO <%=1+2%> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt consectetur blanditiis numquam hic reiciendis accusantium mollitia molestias nesciunt doloremque est.</p>
</body>
</html>